# Ignore these files.
bin
obj
*.sln
*.csproj
*.nupkg
*.userprefs
*.suo
*.user
Protobuild.FunctionalTests/TestData/**/Protobuild.exe
*.speccache
packages/repositories.config
StyleCop.Cache
/Protobuild.FunctionalTests/TestData/PackageEverythingCorrectGZip/Test.tar.gz
/Protobuild.FunctionalTests/TestData/PackageEverythingCorrectLZMA/Test.tar.lzma
/Protobuild.FunctionalTests/TestData/PackageFilterCorrect/Linux.tar.lzma
/Protobuild.FunctionalTests/TestData/PackageFilterCorrect/Windows.tar.lzma
/Protobuild.FunctionalTests/TestData/PackageFilterCorrectModuleXml/Windows.tar.lzma
/Protobuild.FunctionalTests/TestData/ExtractXSLTWorks/Build/GenerateProject.xslt
/Protobuild.FunctionalTests/TestData/ExtractXSLTWorks/Build/GenerateSolution.xslt
/Protobuild.FunctionalTests/TestData/ExtractXSLTWorks/Build/GenerateProject.CSharp.xslt
repositories.config
/Protobuild.FunctionalTests/TestData/PackageRedirectionToLocalPath/Package/
/Protobuild.FunctionalTests/TestData/PackageLocationParentAndSubmoduleSamePackage/Package/
/Protobuild.FunctionalTests/TestData/PackageLocationParentAndSubmoduleSamePackage/Submodule/Package/.redirect
/Protobuild.FunctionalTests/TestData/PackageLocationTwoSubmoduleSamePackage/SubmoduleA/Package/
/Protobuild.FunctionalTests/TestData/PackageLocationTwoSubmoduleSamePackage/SubmoduleB/Package/.redirect
/Protobuild.FunctionalTests/TestData/PackageLocationParentAndTwoSubmoduleSamePackage/Package/
/Protobuild.FunctionalTests/TestData/PackageLocationParentAndTwoSubmoduleSamePackage/SubmoduleB/Package/.redirect
/Protobuild.FunctionalTests/TestData/PackageLocationParentAndTwoSubmoduleSamePackage/SubmoduleA/Package/.redirect
/Protobuild.FunctionalTests/TestData/PackageLocationTwoNestedSubmoduleSamePackage/SubmoduleA/NestedSubmoduleA/Package/
/Protobuild.FunctionalTests/TestData/PackageLocationTwoNestedSubmoduleSamePackage/SubmoduleB/NestedSubmoduleB/Package/.redirect
/Protobuild.FunctionalTests/TestData/NuGetAndroidDoesNotCrash/Console/packages.config
TestSummary.htm
*.csproj.input
*.cproj
*.vcxproj
/Protobuild.FunctionalTests/TestData/ExtractXSLTWorks/Build/GenerateProject.CPlusPlus.VisualStudio.xslt
/Protobuild.FunctionalTests/TestData/ExtractXSLTWorks/Build/GenerateProject.CPlusPlus.MonoDevelop.xslt
*.sdf
/Protobuild.FunctionalTests/TestData/CPlusPlusSWIGBindingGeneratorWorks/Library/util.cs
/Protobuild.FunctionalTests/TestData/CPlusPlusSWIGBindingGeneratorWorks/Library/utilPINVOKE.cs
/Protobuild.FunctionalTests/TestData/CPlusPlusSWIGBindingGeneratorWorks/Library/util_wrap.c
/Protobuild.FunctionalTests/TestData/CPlusPlusSWIGBindingGeneratorWorks/Library/Library.Windows.md.pc
*.opensdf
UpgradeLog.htm
/Protobuild.FunctionalTests/TestData/ExtractXSLTWorks/Build/GenerationFunctions.cs
/Protobuild.FunctionalTests/TestData/PackageResolutionDoesNotOccurInSubmodulesTwice/Package/
/Protobuild.FunctionalTests/TestData/PackageResolutionDoesNotOccurInSubmodulesTwice/Submodule/Package/.redirect
